﻿<!DOCTYPE html>
<html class="culture-@SiteConfig.Culture.Current" lang="@SiteConfig.Culture.Current">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    @Styles.Render("~/Bundles/styles.css")
    @Scripts.Render("~/Bundles/scripts.js")
</head>
<body>
    <header style="padding-right:10px;padding-left:10px">
        <div class="container-fluid">
            <div style="background:url('/Content/Images/logo.png'); background-size: contain; width: 40px; height: 40px; display:inline-block; background-repeat: no-repeat; margin-top: 5px; vertical-align: sub;"></div>
            <span id="app-title">@Planzer.Portal.PLS.Resources.Global.AppTitle</span>
            <div class="dropdown pull-right" style="margin-top:11px">
                <button class="btn dropdown-toggle btn-dropdown" style="background:transparent" type="button" id="dropdownMenuVerwaltung" data-toggle="dropdown" aria-expanded="true">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenuVerwaltung">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="@Config.PortalUrl"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> @Planzer.Portal.PLS.Resources.Global.ZurueckZumPortal</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><div style="padding-left:20px; padding-bottom: 10px; color: #000;">@PortalClaims.GetAccountName() (@PortalClaims.GetUserName())</div></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="@Config.LogoutUrl"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> @Planzer.Portal.PLS.Resources.Global.Logout</a></li>
                </ul>
            </div>
        </div>
    </header>
    @RenderBody()
</body>
</html>