﻿<!DOCTYPE html>
<html class="culture-@SiteConfig.Culture.Current" lang="@SiteConfig.Culture.Current">
<head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Logics WebApp</title>
    @*<meta name="description" content="@(ViewBag.PageDescription ?? Resources.Shared.AppDescription)" />*@


    @Styles.Render("~/Content/Bundles/main.css")
    @Scripts.Render("~/Content/Bundles/font-awesome.min.css")

    @Styles.Render("~/Bundles/styles.css")
    @Scripts.Render("~/Bundles/scripts.js")

</head>
<body>


    <header>
        <div id="header">
            <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
     <!--    <img src="/Content/Images/logo-white.png" style="width:40px;height:40px" /> -->
            <span id="app-title">@Planzer.Portal.PLS.Resources.Global.AppTitle</span>
            @*<div style="background:url('/Content/Images/logo.png'); background-size: contain; width: 40px; height: 40px; display:inline-block; background-repeat: no-repeat; margin-top: 5px; vertical-align: sub;"></div>
            <span id="app-title">@Planzer.Portal.PLS.Resources.Global.AppTitle</span>*@
            <div class="dropdown pull-right">
                <button class="btn dropdown-toggle btn-dropdown" style="background:transparent" type="button" id="dropdownMenuVerwaltung" data-toggle="dropdown" aria-expanded="true">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" id="main-menu-hamburger" role="menu" aria-labelledby="dropdownMenuVerwaltung">
                    @*<li role="presentation"><div style="padding-left:20px; padding-bottom: 10px; color: #000;">@PortalClaims.GetAccountName() (@PortalClaims.GetUserName())</div></li>
                    @if (System.Security.Claims.ClaimsPrincipal.Current.IsInAnyRole(SystemRoles.PORT_SYS_ADM, SystemRoles.PORT_ADM, SystemRoles.PORT_APP_ADM))
                    {
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@Config.PortalAccountChangeUrlTemplate"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> @Planzer.Portal.PLS.Resources.Global.LinkTextAccountChange</a></li>
                    }*@
                    <li role="presentation"><div style="padding-left:20px; padding-bottom: 10px; color: #000;">@PortalClaims.GetAccountName() (@PortalClaims.GetUserName())</div></li>
                    @if (System.Security.Claims.ClaimsPrincipal.Current.IsInAnyRole(SystemRoles.PORT_SYS_ADM, SystemRoles.PORT_ADM, SystemRoles.PORT_APP_ADM))
                    {
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@Config.PortalAccountChangeUrlTemplate"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> @(Planzer.Portal.PLS.Resources.Global.LinkTextAccountChange)<div> @(PortalClaims.GetAdminAccountNameInBrackets())</div></a></li>

                    }
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="@Config.PortalUrl"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> @Planzer.Portal.PLS.Resources.Global.ZurueckZumPortal</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="@Config.LogoutUrl"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> @Planzer.Portal.PLS.Resources.Global.Logout</a></li>
                </ul>
            </div>
        </div>
    </header>
    @RenderBody()
</body>
</html>