﻿@import "../mixins.less";

.navbar {
    background-color: @white;
}

.navbar-btn {
    margin-left: 4px;
    margin-right: 0;
}

.navbar-default .navbar-brand {
    color: @brand-main;
    font-weight: bold;
    font-size: 18px;
}

.dropdown-menu-right {
    right: 4px;
}

.navbar .glyphicon {
    /* Die Icons sind nicht korrekt in der Mitte darum werden sie um positioniert. */
    &.glyphicon-search {
        vertical-align: text-top;
    }

    &.glyphicon-menu-hamburger {
        font-size: 20px;
    }
}

.navbar-brand > img {
    height: 40px;
    float: left;
    margin-top: -10px;
    margin-right: 20px;
    margin-left: 10px;
}
