﻿body {
    font-family: 'Century Gothic';
}

/***********************************************  CSS TEMPLATE 1.0 - S T A R T  ***********************************************/

#header {
    background-color: #13687d;
    padding: 20px;
}

.btn-dropdown {
    color: #fff !important;
    font-size: 24px !important;
}

#app-title {
    color: #fff !important;
}

.glyphicon.glyphicon-th {
    color: #fff;
    font-size: 25px;
    top: 5px;
}

#header > span {
    font-weight: lighter;
}

/***********************************************  CSS TEMPLATE 1.0 - E N D I N G  ***********************************************/

a {
   outline: 0 !important; 
}

/***** Start of the Tabs*****/


 /* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #eaeaea;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 25px;
    border: 1px solid #ccc;
    border-top: none;
    margin-top: 25px;
}


/******* End of the Tabs*******/

/**********  START Filter CSS of Index   ********/

.checkbox-group {
    padding-left: 0px !important; 
}

.filter-container {
    font-weight: lighter;
}

#spaceing {
    padding-left: 20px;
}

/************   END Filter CSS of Index    **************/


/* TESTING BOOOOOOOOOOOOOOY */


div#demo {
    margin-top:50px;
}
div#example_filter {
    width:100%;
}
.filter-container {
    display:inline-block;
    margin-right:1em;
}
tr:hover th, tr:hover td {
    background-color:#ebebeb;
    background-image:none;
}
/*
#demo td {
    height:26px;
    padding:0px 0px 0px 20px !important;
    text-align:left;
    border-bottom:1px solid #d0d0d0;
    vertical-align:middle;
    color:#555555;
    background-color:#ffffff;
}
*/

thead th {
    font-size: 12px;
}

td.group {
    background-color: #d5eafd !important;
    border-bottom: 1px solid #94bafd;
    border-top: 1px solid #94bafd;
}
td.expanded-group {
    background: url("http://jquery-datatables-row-grouping.googlecode.com/svn/trunk/media/images/minus.jpg") no-repeat scroll left center transparent;
}
tr:hover td.expanded-group {
    background: url("http://jquery-datatables-row-grouping.googlecode.com/svn/trunk/media/images/minus.jpg") no-repeat scroll left center #c0e1ff !important;
}
td.collapsed-group {
    background: url("http://jquery-datatables-row-grouping.googlecode.com/svn/trunk/media/images/plus.jpg") no-repeat scroll left center transparent;
}
tr:hover td.collapsed-group {
    background: url("http://jquery-datatables-row-grouping.googlecode.com/svn/trunk/media/images/plus.jpg") no-repeat scroll left center #c0e1ff !important;
}
.DataTables_sort_wrapper span {
    float: right;
}
.ui-icon {
    background-image: url("http://jquery-ui.googlecode.com/svn-history/r3145/branches/labs/scrollable/ui/css/smoothness/images/ui-icons_454545_256x240.png");
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
}
.ui-icon-closethick {
    background-position: -96px -128px;
}
.ui-icon-circle-close {
    background-position: -32px -192px;
}
.float-right {
    float: right;
    margin: 4px 5px 0px 0px;
}
.float-left {
    float: left;
    margin: 4px 5px 0px 4px;
}
.expandedOrCollapsedGroup {
    width: 125px;
    float: left;
    margin: 0px 0px 0px 25px;
}

.table.table-condensed.table-striped.table-hover.fadeIn.animated tr {
    background-color: #f1f5f5;
    padding: 5px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

#columnstyle td {
    background-color: #cfcfcf;
    padding: 5px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}