﻿<% Response.StatusCode = 404%>
<!DOCTYPE html>
<html class="culture-de-ch" lang="de-ch">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>404 Seite nicht gefunden / Page not found - Adressverwaltung</title>
    <meta name="description" content="Diese Seite existiert nicht. / This page does not exists.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/Content/bootstrap/less/bootstrap.less" rel="stylesheet">
    <link href="/Content/Bundles/styles.less" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div style="background:url('/Content/Images/logo.png'); background-size: contain; width: 40px; height: 40px; display:inline-block; background-repeat: no-repeat; margin-top: 5px;"></div>
        <span id="app-title"> Adressverwaltung</span>
        <div class="row">
            <div class="col-md-12">
                <h2>Seite nicht gefunden / Page not found</h2>
                <p>Leider konnten wir Ihre Seite nicht finden. Wenn dieser Fehler weiterhin besteht sende uns ein Nachricht über das Portal mit einer Beschreibung wie er ausgelöst wird.</p>
                <p>Sorry, we could not find your site. If this error persists send us a message via the portal with a description of how it is triggered.</p>
                <a class="btn btn-default row-offset-xs" href="/">Zurück / Back</a>
                <a class="btn btn-default row-offset-xs" href="https://portal.planzergroup.com"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Zurück zum Portal / Back to portal</a>
            </div>
        </div>
    </div>
</body>
</html>