﻿@import "mixins.less";

.btn-default {
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active,
    .open > .dropdown-toggle& {
        background-color: @gray-lighter;
        box-shadow: none;
    }

    &:active,
    &.active,
    .open > .dropdown-toggle& {
        color: @brand-main;
        border-color: @brand-main;
    }
}

.btn-transparent {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active,
    .open > .dropdown-toggle& {
        background: none;
        border: none;
        box-shadow: none;
    }
}

.btn-block {
    .text-overflow();

    &.btn-block-left, .btn {
        text-align: left;
    }

    .btn-glyphicon-right {
        line-height: @line-height-base;
        float: right;
    }

    .badge.pull-right {
        top: 2px;
    }
}

.btn-group {
    > .btn {
        border-right: none;
        border-bottom: none;
        border-left: none;
    }
}

.btn-group-vertical {
    .btn-block-left {
        text-align: left;
    }

    > .btn {
        border-top: none;
        border-right: none;
        border-bottom: none;
    }
}

.btn.readonly {
    cursor: default;
}

.btn-group-xs.btn-group-uniform > .btn {
    min-width: 75px;
}

@media (min-width: @screen-sm-min) {
    .btn-group-sm.btn-group-uniform > .btn {
        min-width: 125px;
    }
}