/* Font Squirrel (http://www.fontsquirrel.com) */
@font-face {
    font-family: 'arial';
    /*src: url('Fonts/OpenSans-Light-webfont.eot');
    src: url('Fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('Fonts/OpenSans-Light-webfont.woff') format('woff'), url('Fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('Fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');*/
    font-weight: normal;
    font-style: normal;
}