﻿@import "mixins.less";

input {
    .tab-focus();
}
.field-validation-error {
 color: red;
}

.btn-default {
    border: 1px solid #ccc;
    color: #13687d;
}

.form-control {
    box-shadow: none;
    border: 1px solid #ccc;

    // Firefox
    &::-moz-placeholder {
        .text-overflow() !important;
    }
    // Internet Explorer 10+
    &:-ms-input-placeholder {
        .text-overflow() !important;
    }
    // Safari and Chrome
    &::-webkit-input-placeholder {
        .text-overflow() !important;
    }
}