﻿@import "mixins.less";

.row {
    position: relative;
}

.row-offset-lg {
    margin-top: @row-offset-lg;
}

.row-offset-md {
    margin-top: @row-offset-md;
}

.row-offset-sm {
    margin-top: @row-offset-sm;
}

.row-offset-xs {
    margin-top: @row-offset-xs;
}

.row-padding-lg {
    padding: 25px 0;
}

.row-padding-md {
    padding: 16px 0;
}

.row-padding-sm {
    padding: 11px 0;
}

.row-padding-xs {
    padding: 4px 0;
}

.row-center {
    display: flex;
    align-items: center;
}

.row-bordered {
    border-bottom: 1px solid @gray-lighter;
}

.row-striped:nth-of-type(2n+1) {
    background: @gray-lighter;
}

.row-hover {
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
        color: @white;
        background-color: @brand-main;
        .transition(~"color 0.1s, background-color 0.1s");

        .text-pale,
        .text-primary {
            color: @white;
            .transition(~"color 0.1s");
        }
    }

    .transition(~"color 0.8s, background-color 0.8s");

    .text-pale,
    .text-primary {
        .transition(~"color 0.8s");
    }
}
