﻿@import "mixins.less";


#adressen-table {
    width: 100%;
}

#tab-adressen {
    padding: 0 20px;
}

.table-striped {
    & a {
        color: @planzer-green;
    }
}

.table-striped tbody tr.highlight {
    background-color: @planzer-green;
    color: @white;

    a {
        color: @white;
    }
}

.form-control.dt-picker-field[readonly] {
    background-color: @white;
}

ul.pagination li a {
    color: #555555;
    text-align: center;
    background-color: #eeeeee;
    border: 1px solid #cccccc;

    &:hover {
        background-color: #fff;
        color: #444;
        border: 1px solid #cccccc;
    }
}

ul.pagination li.disabled a {
    color: #777;
    text-align: center;
    background-color: #eeeeee;
    border: 1px solid #cccccc;

    &:hover {
        color: #777;
        text-align: center;
        background-color: #eeeeee;
        border: 1px solid #cccccc;
    }
}

ul.pagination li.active a {
    color: @white;
    text-align: center;
    background-color: @planzer-hawaiiblau;
    border: 1px solid #cccccc;

    &:hover {
        color: @white;
        text-align: center;
        background-color: @planzer-btn-active;
        border: 1px solid #cccccc;
    }
}

body {
tr.inactive {
    
}
.glyphicon-ban-circle {
    color: red;
}
.glyphicon-ok {
    color: green;
}

.btn-grp {
    padding-right: 15px;
}
}
.modal-open {
    overflow: hidden;
    position:fixed;
    width: 100%;
    height: 100%;
}

.btn-adressen {
    width: @btn-size;
}

.table-striped {

tr {
    cursor: pointer;
}
    tbody tr:hover {
        background-color: @planzer-green-alpha;
    }
}

.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

// Autocomplete styles

.ac-field {
    -moz-box-sizing: border-box;
    border: 1px solid #EEEEEE;
    height: 37px;
    margin: 0;
    padding: 5px;
    width: 100%;
}

.autocomplete-suggestion {
    overflow: hidden;
    padding: 2px 5px;
    white-space: nowrap;
}

.autocomplete-suggestions {
    background: #FFF;
    border: solid 1px #000;
    border-radius: 3px;
    overflow-y: auto;
}

    .autocomplete-suggestions strong {
        color: #3399FF;
        font-weight: normal;
        background: #FFF;
    }

.autocomplete-selected {
    background: #F0F0F0;
}

#app-title {
    color: @planzer-green;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase !important;
    vertical-align:middle;
    margin-left:20px;
}

.ghostbtn {
    background: transparent;
    color: @planzer-green;
    border: solid 1px;
    -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
    transition: background .2s ease-in-out, border .2s ease-in-out;

    &:hover, &:active, &:focus {
        background: transparent;
        color: @planzer-green;
        outline: none !important;
        border: solid 1px;
    }

    .glyphicon {
        vertical-align: text-top;
    }
}

.btn-dropdown {
    color: @planzer-green;
    font-size: 22px;

    &:hover {
        color: @planzer-green;
    }
}

.table-striped tbody tr.highlight {
    background-color: #13687d;
    color: #ffffff;
}

#main-menu-hamburger > li > a:hover, #main-menu-hamburger > li > a:focus {
    color:@black;
    background-color:#f5f5f5;
}

#main-menu-hamburger > li > a {
    padding:10px 20px;
}

.checkbox-slider {
    position: relative;

    & input[type="checkbox"] {
        visibility: hidden;

        & ~ span {
            margin-left: 25px;

            &:before {
                visibility: visible;
                position: absolute;
                top: -2px;
                left: 0;
                height: 25px;
                width: 40px;
                border: 1px solid #cccccc;
                border-radius: 25px;
                background-color: #fff;
                content: " ";
                -webkit-transition: all 0.07s ease-in-out;
                -moz-transition: all 0.07s ease-in-out;
                -o-transition: all 0.07s ease-in-out;
                transition: all 0.07s ease-in-out;
            }

            &:after {
                visibility: visible;
                position: absolute;
                top: -2px;
                left: 0;
                height: 25px;
                width: 25px;
                border: 1px solid #cccccc;
                border-radius: 25px;
                box-shadow: 1px 2px 2px rgba(50, 50, 50, 0.2);
                background-color: #fff;
                content: " ";
                -webkit-transition: all 0.07s ease-in-out;
                -moz-transition: all 0.07s ease-in-out;
                -o-transition: all 0.07s ease-in-out;
                transition: all 0.07s ease-in-out;
            }
        }

        &:checked ~ span:before {
            border: 1px solid @planzer-hawaiiblau;
            background-color: @planzer-hawaiiblau;
        }

        &:checked ~ span:after {
            left: 15px;
            border: 1px solid @planzer-hawaiiblau;
        }
    }

    &.user-kachel-slider input[type="checkbox"] {
        &:checked + *:before {
            border: 1px solid limegreen;
            background-color: limegreen;
        }

        &:checked + *:after {
            left: 15px;
            border: 1px solid limegreen;
        }
    }
}

.form-horizontal .checkbox-slider input[type="checkbox"] ~ span {
    &:before, &:after {
        top: 6px;
    }
}

.nav-tabs {
    border-bottom-color: #13687d;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-color: #13687d;
    border-bottom: solid 2px white;
    cursor: default;
    font-weight: bold;
    color: #13687d;
    margin-bottom: -1px;
}

.nav-tabs > li > a {
    color: #13687d;
}

.nav-tabs > li > a:hover {
    background: rgba(19, 104, 125, 0.4);
    color: #ffffff;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.no-hover-bg {
    background-color:inherit !important;
}

#IsNewSearch {
    float:right;
}

@media all and (min-width: 1000px) and (max-width: 1300px){
    #IsNewSearch {
        float:none;
        margin-top: 10px;
    }
}