﻿@import "variables.less";

// Boostrap

// Core mixins
@import "Bootstrap/less/mixins.less";

// override tab-focus
.tab-focus() {
    outline: none;
}

.touch-effect() {
    cursor: pointer;
    .transition-transform(0.5s);

    &:hover {
        .transform(scale(1.05, 1.05));
    }

    &:active {
        .transform(scale(0.90, 0.90)) !important;
        .transition-transform(0s);
    }
}

.flex() {
    display: -webkit-flex;
    display: flex;
}

.flex(@align-items) {
    .flex();
    -webkit-align-items: @align-items;
    align-items: @align-items;
}

.flex(@align-items; @justify-content) {
    .flex(@align-items);
    -webkit-justify-content: @justify-content;
    justify-content: @justify-content;
}

/*#region Multi browsers functions*/

.calc(@for; @expression) {
    @{for}: -webkit-calc(@expression);
    @{for}: -moz-calc(@expression);
    @{for}: calc(@expression);
}

// Transformations

.transform(@transform) {
    -moz-transform: @transform;
    -ms-transform: @transform;
    -o-transform: @transform;
    -webkit-transform: @transform;
    transform: @transform;
}

.rotateZ(@degrees) {
    -webkit-transform: rotateZ(@degrees);
    -ms-transform: rotateZ(@degrees); // IE9+
    -moz-transform: rotateZ(@degrees);
    -o-transform: rotateZ(@degrees);
    transform: rotateZ(@degrees);
}

.blur(@blur) {
    // iOS slow down fix. Source: http://stackoverflow.com/questions/21363230/slow-css-filters-on-iphone
    -webkit-transform: translateZ(0);
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-filter: blur(@blur);
    -moz-filter: blur(@blur);
    -o-filter: blur(@blur);
    -ms-filter: blur(@blur);
    filter: blur(@blur);
}

.transition-transform(@pre-transition, @transition-for-transform) {
    -webkit-transition: @pre-transition, -webkit-transform @transition-for-transform;
    -moz-transition: @pre-transition, -moz-transform @transition-for-transform;
    -o-transition: @pre-transition, -o-transform @transition-for-transform;
    transition: @pre-transition, transform @transition-for-transform;
}

/*#endregion*/

/*#region Components*/

.list-style-type-dash() {
    list-style-type: none;

    > li {
        position: relative;

        &:before {
            content: "\2013";
            position: absolute;
            left: -1.2em;
        }
    }
}

.list-inline-separeted(@separater) {
    > li:not(:last-child):after {
        content: " @{separater} ";
    }

    > li {
        padding-left: 0;
        padding-right: 0;
    }
}

.key-style(@color) {
    .key-fill {
        fill: @color;
        stroke-miterlimit: 10;
        stroke-width: 1.60000002;
    }

    .key-text {
        stroke-miterlimit: 10;
        stroke: darken(@color, 50%);
        fill: #fff;
    }

    .key-border-start {
        stop-color: #fff;
    }

    .key-border-stop {
        stop-color: darken(@color, 50%);
    }

    .key-logo-text-border {
        color: @color;
    }
}

// override panel-variant
.panel-variant(@border; @heading-text-color; @heading-bg-color; @heading-border) {
    border-color: @border;

    & > .panel-heading {
        color: @heading-text-color;
        background-color: @heading-bg-color;
        border-color: @heading-border;

        + .panel-collapse > .panel-body {
            border-top-color: @border;
        }

        .badge {
            color: @heading-bg-color;
            background-color: @heading-text-color;
        }
    }

    & > .panel-footer {
        + .panel-collapse > .panel-body {
            border-bottom-color: @border;
        }
    }


    &.panel-striped:nth-of-type(odd) {
        background-color: lighten(@heading-bg-color, 65%);
    }

    &.panel-hover {
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active {
            color: @heading-text-color;
            background-color: @heading-bg-color;
            .transition(~"color 0.1s, background-color 0.1s");

            .text-pale {
                color: @heading-text-color;
                .transition(~"color 0.1s");
            }
        }

        .transition(~"color 0.8s, background-color 0.8s");

        .text-pale {
            .transition(~"color 0.8s");
        }
    }
}

/*#endregion*/
