﻿@import "mixins.less";

/* #region Body reset */

html {
    /*
    * Clear font-weight in Safari.
    * http://stackoverflow.com/questions/9450706/safari-font-weight-issue-text-too-bold
    */
    -webkit-font-smoothing: subpixel-antialiased;
    height: 100%;
}

// Fix scrollbar overlay in edge. Visit: http://stackoverflow.com/questions/17045132/scrollbar-overlay-in-ie10-how-do-you-stop-that/19706857#19706857
html {
    overflow-x: hidden;
}

body {
    overflow-y: hidden; // Fix für Firefox der Auftritt wegen Fix scrollbar overlay in edge
    -ms-overflow-style: scrollbar;
}

body {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
    // Add Fast-Click support. Source: https://github.com/ftlabs/fastclick
    -ms-touch-action: manipulation; // IE10
    touch-action: manipulation; // IE11
}

/* #endregion */

a {
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
        .transition(~"color 0.1s, background-color 0.1s");
    }

    .transition(~"color 0.8s, background-color 0.8s");

    &.touch-friendly {
        // Bigger click area for all links. Visit: http://stackoverflow.com/questions/15611905/making-the-clickable-area-of-in-line-links-bigger-without-affecting-the-layout/15612000#15612000
        position: relative;
        white-space: nowrap;

        &:after {
            content: "";
            position: absolute;
            left: -10%;
            width: 120%;
            top: -20%;
            height: 140%;
        }
    }
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection,
::selection {
    background-color: @selection-color;
    color: @selection-text-color;
    text-shadow: none;
}

/* #region Scrollbar */

// Customizes the WebKit scrollbar to force show.
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    .box-shadow(inset 0 0 3px transparent);
    border-radius: @scrollbar-radius;

    &:hover {
        .box-shadow(inset 0 0 3px rgba(0, 0, 0, 0.3));
    }
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: @scrollbar-radius;
    background: @scrollbar;

    &:hover {
        background: @scrollbar-hover;
    }
}

/* #endregion */

.bg-graylighter {
    background-color: @gray-lighter;
}