﻿@import "mixins.less";

// Add line breaking in p.
p, .p {
    .hyphens(auto);
    text-align: justify;
    position: relative;
    margin: 0 0 (@line-height-computed / 2);
}

.text {
    .hyphens(auto);
}

.text-xs {
    font-size: 75%;
}

.text-block {
    display: block;
    .text-overflow();
}

.text-pale {
    color: @text-pale;
}

/*#region List options*/

ol.list-numerated {
    counter-reset: item;
    list-style-type: none;

    > li {
        position: relative;

        &:before {
            display: inline-block;
            width: 30px;
            position: absolute;
            left: -40px;
            text-align: right;
            content: '#' counter(item, decimal);
            counter-increment: item;
        }
    }
}

/* Visit: http://stackoverflow.com/questions/4098195/can-ordered-list-produce-result-that-looks-like-1-1-1-2-1-3-instead-of-just-1/26245056#26245056*/
ol.list-deep-numerated {
    &, ol {
        list-style-type: none;
        counter-reset: item;
        margin: 0;
        padding: 0;
    }

    li {
        display: table;
        counter-increment: item;
        margin-bottom: 0.6em;
    }

    li:before {
        content: counters(item, ".") ". ";
        display: table-cell;
        padding-right: 0.6em;
    }

    > li:before {
        font-size: @font-size-h2;
    }

    li li {
        margin: 0;
    }

    li li:before {
        content: counters(item, ".") " ";
    }
}
/*#endregion*/

.bg-default {
  color: #fff;
  .bg-variant(@gray-light);
}