﻿@import "mixins.less";

.elevated {
    .box-shadow(0px 5px 20px rgba(0, 0, 0, 0.5));
}

.vertical-align {
    .flex(center);
}

.touch-effect {
    .touch-effect();
}

.pull-right.pull-offset-xs {
    margin-left: 4px;
}

.pull-right.pull-offset-xs + .pull-right.pull-offset-xs:last-of-type {
    margin-left: 0;
}

.pull-left.pull-offset-xs {
    margin-right: 4px;
}

.pull-left.pull-offset-xs + .pull-left.pull-offset-xs:last-of-type {
    margin-right: 0;
}

.pull-right.pull-offset-sm {
    margin-left: 10px;
}

.pull-right.pull-offset-sm + .pull-right.pull-offset-sm:last-of-type {
    margin-left: 0;
}

.pull-left.pull-offset-sm {
    margin-right: 10px;
}

.pull-left.pull-offset-sm + .pull-left.pull-offset-sm:last-of-type {
    margin-right: 0;
}
