﻿// Importiere Boostrap variablen so können diese überschrieben werden.
@import "Bootstrap/less/variables.less";

/* #region Colors */

@white: #fff;
@gray-lighter: rgb(246, 246, 246);
@black: #000;

// Accent colors
@brand-main: #13687d;

@brand-primary: @brand-main;

@state-success-text: @brand-success;

/* #endregion */

/* #region Scaffolding */

@text-pale: @gray-light;

@selection-color: @brand-main;
@selection-text-color: @white;

@link-color: @brand-main;
@link-hover-color: darken(@brand-main, 10%);

/* #endregion */

/* #region Typography */

@font-family-base: 'open_sanslight', "Helvetica Neue", Helvetica, Arial, sans-serif;

@font-size-base: 16px;

@text-muted: @brand-main;

/* #endregion */

/* #region Scrollbar */

@scrollbar: @gray-lighter;
@scrollbar-hover: @gray-light;
@scrollbar-radius: 0;

/* #endregion */

/* #region Z-index master list */

/* #endregion */

/* #region Components */

@border-radius-base: 4px;
@border-radius-large: 4px;
@border-radius-small: 4px;

// Button
@btn-default-color: @gray-dark;
@btn-default-bg: @white;
@btn-default-border: @gray-lighter;

// Form
@input-color: @gray-dark;
@input-border: @gray-lighter;
@input-border-radius: 4px;
@input-border-radius-large: 4px;
@input-border-radius-small: 4px;
@input-border-focus: @brand-main;

// navs
@nav-tabs-color: @gray-light;
@nav-tabs-border-color: transparent;
@nav-tabs-link-hover-color: @brand-main;
@nav-tabs-link-hover-border-color: @brand-main;
@nav-tabs-active-link-hover-color: @brand-main;
@nav-tabs-active-link-hover-bg: transparent;
@nav-tabs-active-link-hover-border-color: @brand-main;

// Grid
@grid-columns: 24;

@grid-gutter-width: 8px;

@grid-float-breakpoint: 0;
@grid-float-breakpoint-max: 0;

@navbar-margin-bottom: 9px;

@row-offset-base: 32px;

@row-offset-lg: @row-offset-base * 1.5;
@row-offset-md: @row-offset-base;
@row-offset-sm: @row-offset-base * 0.5;
@row-offset-xs: @row-offset-base * 0.25;

@dropdown-link-hover-color: @white;
@dropdown-link-hover-bg: @brand-main;

/* #endregion */

/* Variablen */
@site-font-size: 15px;
@white: #FFF;
@white-alpha: rgba(255,255,255, 0.95);
@black: #000;
@red: #ff0000;
@planzer-green: #13687d;
@breadcrumb-background-default: #b2dfdb;
@planzer-red: #A70B25;
@planzer-green-alpha: rgba(19,104,125, 0.5);
@planzer-green-alpha02: rgba(19,104,125, 0.4);
@ghostbtn-background: #F2F2F2;
@btn-size: 200px;
@planzer-hawaiiblau: rgb(63,104,124);
@planzer-btn-active: rgb(36,65,79);
@planzer-error-red: rgb(142,21,35);
@green: limegreen;