﻿@model Planzer.Portal.PLS.Models.BestandViewModel
@{
    ViewBag.Title = "Index";
}

<!-- Prototype START-->


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.13/cr-1.3.2/r-2.1.0/rr-1.2.0/sc-1.4.2/se-1.2.0/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.13/cr-1.3.2/r-2.1.0/rr-1.2.0/sc-1.4.2/se-1.2.0/datatables.min.js"></script>

<script type="text/javascript" src="~/Scripts/References/jQuery/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Scripts/References/jQuery/bootstrap-multiselect.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/Bundles/bootstrap-multiselect.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Bundles/font-awesome.min.css">

<!-- <script type="text/javascript" src="~/Scripts/References/jQuery/draggable.js"></script> -->
<!--
<script type="text/javascript">
    var table = $('#example').DataTable();
    var displayIndexes = table.scroller.page();

    var data = table.row(':eq(' + displayIndexes.start + ')', { order: 'applied', search: 'applied' }).data();
</script>
-->

<script type="text/javascript">
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>

<ul class="tab">
    <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'London')">Lagerbestand</a></li>
    <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Paris')">Auftragserfassung</a></li>
    <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Tokyo')">Auftragsverwaltung</a></li>
    <li><a href="https://adressentest.planzergroup.com/" class="tablinks" target="_blank">Adressverwaltung</a></li>
</ul>



<!-- Initialize the plugin: -->

<script type="text/javascript">
        $(document).ready(function () {
            $('#sperrcode').multiselect({
                nonSelectedText: 'Sperrcode'
            });
            $('#auftraege').multiselect({
                nonSelectedText: 'Artikelart',
/*                includeSelectAllOption: true, */
                enableFiltering: true,
                buttonContainer: '<span class="filtering" />'
            });
        });
</script>



<!---------------------------------------------------- START - THE SOLUTION TO FILTER ANYTHING ------------------------------------------------->

<script type="text/javascript">
        $(document).ready(function () {
            var oTable = $('#artikel').dataTable({
                "bPaginate": true,
                "bFilter": true,
                "bInfo": false,

                // Column and Rows Reorder
                colReorder: true,
                rowReorder: true
            });

            // Populate values
            var $rows = oTable.fnGetNodes();
            var values = {};
            var colnums = [6,13];

            for (var col = 0, n = colnums.length; col < n; col++) {

                var colnum = colnums[col];
                if (typeof values[colnum] === "undefined") values[colnum] = {};

                // Create Unique List of Values
                $('td:nth-child(' + colnum + ')', $rows).each(function () {
                    values[colnum][$(this).text()] = 1;
                });

                // Create Checkboxes
                var labels = [];
                $.each(values[colnum], function (key, count) {
                    var $checkbox = $('<input />', {
                        'class': 'filter-column filter-column-' + colnum,
                        'type': 'checkbox',
                        'value': key
                    });

                    var $label = $('<label></label>', {
                        'class': 'filter-container'
                    }).append($checkbox).append(' ' + key);

                    $checkbox.on('click', function () {
                        oTable.fnDraw();
                    }).data('colnum', colnum);
                    labels.push($label.get(0));
                });

                var $sorted_containers = $(labels).sort(function (a, b) {
                    return $(a).text().toLowerCase() > $(b).text().toLowerCase();
                });
                $('#demo').prepend($sorted_containers);

                $sorted_containers.wrapAll($('<ul></ul>', {
                    'class': 'checkbox-group checkbox-group-column-' + colnum
                }));
            }

            $.fn.dataTableExt.afnFiltering.push(function (oSettings, aData, iDataIndex) {

                var checked = [];
                $('.filter-column').each(function () {
                    var $this = $(this);
                    if ($this.is(':checked')) checked.push($this);
                });

                if (checked.length) {
                    var returnValue = false;
                    $.each(checked, function (i, $obj) {
                        if (aData[$obj.data('colnum') - 1] == $obj.val()) {
                            returnValue = true;
                            return false; // exit loop early
                        }
                    });

                    return returnValue;
                }

                if (!checked.length) return true;
                return false;
            });
        });
</script>

<!------------------------------------------------------------------ END -  THE SOLUTION TO FILTER ANYTHING -------------------------------------------------------->
<!------------------------------------------------------------------    START DATEPICKER HERE     ------------------------------------------------------------------>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
      var dateFormat = "dd.mm.yy",
      from = $("#from").datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 3,
          dateFormat: 'dd.mm.yy',
          firstDay: 1,
          prevText: '&#x3c;zurück', prevStatus: '',
          prevJumpText: '&#x3c;&#x3c;', prevJumpStatus: '',
          nextText: 'Vor&#x3e;', nextStatus: '',
          nextJumpText: '&#x3e;&#x3e;', nextJumpStatus: '',
          currentText: 'heute', currentStatus: '',
          todayText: 'heute', todayStatus: '',
          clearText: '-', clearStatus: '',
          closeText: 'schließen', closeStatus: '',
          monthNames: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni',
          'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
          monthNamesShort: ['Jan', 'Feb', 'Mär', 'Apr', 'Mai', 'Jun',
          'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez'],
          dayNames: ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
          dayNamesShort: ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'],
          dayNamesMin: ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa']
      }).bind("change", function () {
          var minValue = $(this).val();
          minValue = $.datepicker.parseDate("yy-mm-dd", minValue);
          minValue.setDate(minValue.getDate() + 1);
          $("#to").datepicker("option", "minDate", minValue);
      }).on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $("#to").datepicker({
        dateFormat: 'dd.mm.yy',
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 3,
        firstDay: 1,
        prevText: '&#x3c;zurück', prevStatus: '',
        prevJumpText: '&#x3c;&#x3c;', prevJumpStatus: '',
        nextText: 'Vor&#x3e;', nextStatus: '',
        nextJumpText: '&#x3e;&#x3e;', nextJumpStatus: '',
        currentText: 'heute', currentStatus: '',
        todayText: 'heute', todayStatus: '',
        clearText: '-', clearStatus: '',
        closeText: 'schließen', closeStatus: '',
        monthNames: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni',
        'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
        monthNamesShort: ['Jan', 'Feb', 'Mär', 'Apr', 'Mai', 'Jun',
        'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez'],
        dayNames: ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
        dayNamesShort: ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'],
        dayNamesMin: ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa']
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });

    function getDate( element ) {
      try {
          date = $('#datepicker').datepicker({ dateFormat: 'dd.mm.yy' }).val();
      } catch( error ) {
        date = null;
      }

      return date;
    }
  } );
</script>

<!-------------------------------------------------------------------    END DATEPICKER HERE     ----------------------------------------------------------------->
<!----------------------------------------------------------     START VIEWSELECTOR OF DIFFERENT TABLES      ----------------------------------------------------->

<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
			    $('#losnummer').dataTable({
			        "bPaginate": false,
			        "bFilter": true,
			        "bInfo": false,

			        // Column and Rows Reorder
			        colReorder: true
			    });
			    $('#restcode').dataTable({
			        "bPaginate": false,
			        "bFilter": true,
			        "bInfo": false,

			        // Column and Rows Reorder
			        colReorder: true
			    });
			});
</script>

<script type="text/javascript">
        $(document).ready(function () {
            $('#tableselect').multiselect({
                nonSelectedText: 'Tabellenansicht'
            });
        });
</script>

<script type="text/javascript">
    $(function () {
    $('.standard').hide();
    $('.default').show();
    $('#tableselect').change(function () {

    $('.tableview').hide();
    $('#' + $(this).val()).show();
    });
});
</script>


<!--------------------------------------------------------------------     END VIEWSELECTOR      -------------------------------------------------------------------->
<!-----------------------------------------------------------------------------      START OF INDEX       --------------------------------------------------------------------------------->

<div id="London" class="tabcontent">

    <!-- Multiselect Testing START -->

    <select id="tableselect">
        <option value="demo">Artikel-Bestand</option>
        <option value="demo2">Losnummer-Bestand</option>
        <option value="demo3">RestCode-Bestand</option>
    </select>

    <select id="sperrcode" multiple="multiple">
        <soan title="Sperrcode"></soan>
        <option value="Airi Satou">Airi Satou</option>
        <option value="tomatoes">Tomatoes</option>
        <option value="mozarella">Mozzarella</option>
        <option value="mushrooms">Mushrooms</option>
        <option value="pepperoni">Pepperoni</option>
        <option value="onions">Onions</option>
    </select>

    <select id="auftraege" multiple="multiple">
        <option value="Fail">1</option>
        <option value="Frei">2</option>
        <option value="Reserviert">3</option>
        <option value="Pendente Aufträge">4</option>
    </select>

    <label id="spaceing" for="from"> </label>
    <input type="text" id="from" name="from" value="Verfallsdatum von">
    <label for="to"> </label>
    <input type="text" id="to" name="to" value="Verfallsdatum bis">

    <!-- Multiselect Testing END -->


    <div id="demo" class="default tableview artikelbestand">
        <table id="artikel" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Lager</th>
                    <th>ArtikelNummer</th>
                    <th>Rayon</th>
                    <th>Losnummer</th>
                    <th>ResCode</th>
                    <th class="sperrcode">SperrCode</th>
                    <th>Paletten</th>
                    <th>Bestand LgE</th>
                    <th>Bestand VkE</th>
                    <th>Verfallsdatum</th>
                    <th>Eingangsdatum</th>
                    <th>SSCC Code</th>
                    <th id="status">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>Tiger Nixon</td><td>System Architect</td><td>Edinburgh</td><td>$320,800</td><td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Frei</td></tr>
                <tr><td>Garrett Winters</td><td>Accountant</td><td>Tokyo</td><td>$170,750</td><td>1</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Ashton Cox</td><td>Junior Technical Author</td><td>San Francisco</td><td>$86,000<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Cedric Kelly</td><td>Senior Javascript Developer</td><td>Edinburgh</td><td>$433,060<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Airi Satou</td><td>Accountant</td><td>Tokyo</td><td>$162,700<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Brielle Williamson</td><td>Integration Specialist</td><td>New York</td><td>$372,000<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Herrod Chandler</td><td>Sales Assistant</td><td>San Francisco</td><td>$137,500<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Rhona Davidson</td><td>Integration Specialist</td><td>Tokyo</td><td>$327,900<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Colleen Hurst</td><td>Javascript Developer</td><td>San Francisco</td><td>$205,500<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Sonya Frost</td><td>Software Engineer</td><td>Edinburgh</td><td>$103,600<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Jena Gaines</td><td>Office Manager</td><td>London</td><td>$90,560<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Quinn Flynn</td><td>Support Lead</td><td>Edinburgh</td><td>$342,000<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Charde Marshall</td><td>Regional Director</td><td>San Francisco</td><td>$470,600<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Haley Kennedy</td><td>Senior Marketing Designer</td><td>London</td><td>$313,500<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Tatyana Fitzpatrick</td><td>Regional Director</td><td>London</td><td>$385,750<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Michael Silva</td><td>Marketing Designer</td><td>London</td><td>$198,500<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Paul Byrd</td><td>Chief Financial Officer (CFO)</td><td>New York</td><td>$725,000<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Gloria Little</td><td>Systems Administrator</td><td>New York</td><td>$237,500<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Bradley Greer</td><td>Software Engineer</td><td>London</td><td>$132,000<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Dai Rios</td><td>Personnel Lead</td><td>Edinburgh</td><td>$217,500<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Jenette Caldwell</td><td>Development Lead</td><td>New York</td><td>$345,000<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Yuri Berry</td><td>Chief Marketing Officer (CMO)</td><td>New York</td><td>$675,000<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Caesar Vance</td><td>Pre-Sales Support</td><td>New York</td><td>$106,450<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Doris Wilder</td><td>Sales Assistant</td><td>Sidney</td><td>$85,600<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Angelica Ramos</td><td>Chief Executive Officer (CEO)</td><td>London</td><td>$1,200,000<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Gavin Joyce</td><td>Developer</td><td>Edinburgh</td><td>$92,575<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Jennifer Chang</td><td>Regional Director</td><td>Singapore</td><td>$357,650<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Brenden Wagner</td><td>Software Engineer</td><td>San Francisco</td><td>$206,850<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Fiona Green</td><td>Chief Operating Officer (COO)</td><td>San Francisco</td><td>$850,000<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Shou Itou</td><td>Regional Marketing</td><td>Tokyo</td><td>$163,000<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Michelle House</td><td>Integration Specialist</td><td>Sidney</td><td>$95,400<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Suki Burks</td><td>Developer</td><td>London</td><td>$114,500<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Prescott Bartlett</td><td>Technical Author</td><td>London</td><td>$145,000<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Gavin Cortez</td><td>Team Leader</td><td>San Francisco</td><td>$235,500<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Martena Mccray</td><td>Post-Sales support</td><td>Edinburgh</td><td>$324,050<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Unity Butler</td><td>Marketing Designer</td><td>San Francisco</td><td>$85,675<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Howard Hatfield</td><td>Office Manager</td><td>San Francisco</td><td>$164,500<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Hope Fuentes</td><td>Secretary</td><td>San Francisco</td><td>$109,850<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Vivian Harrell</td><td>Financial Controller</td><td>San Francisco</td><td>$452,500<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Timothy Mooney</td><td>Office Manager</td><td>London</td><td>$136,200<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Jackson Bradshaw</td><td>Director</td><td>New York</td><td>$645,750<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Olivia Liang</td><td>Support Engineer</td><td>Singapore</td><td>$234,500<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Bruno Nash</td><td>Software Engineer</td><td>London</td><td>$163,500<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Sakura Yamamoto</td><td>Support Engineer</td><td>Tokyo</td><td>$139,575<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Thor Walton</td><td>Developer</td><td>New York</td><td>$98,540<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Finn Camacho</td><td>Support Engineer</td><td>San Francisco</td><td>$87,500<td>33</td><td>01 = Nicht Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Fail</td></tr>
                <tr><td>Serge Baldwin</td><td>Data Coordinator</td><td>Singapore</td><td>$138,575<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Zenaida Frank</td><td>Software Engineer</td><td>New York</td><td>$125,250<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Zorita Serrano</td><td>Software Engineer</td><td>San Francisco</td><td>$115,000<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Jennifer Acosta</td><td>Junior Javascript Developer</td><td>Edinburgh</td><td>$75,650<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Cara Stevens</td><td>Sales Assistant</td><td>New York</td><td>$145,600<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Hermione Butler</td><td>Regional Director</td><td>London</td><td>$356,250<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Lael Greer</td><td>Systems Administrator</td><td>London</td><td>$103,500<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Jonas Alexander</td><td>Developer</td><td>San Francisco</td><td>$86,500<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Shad Decker</td><td>Regional Director</td><td>Edinburgh</td><td>$183,000<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Michael Bruce</td><td>Javascript Developer</td><td>Singapore</td><td>$183,000<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Reserviert</td></tr>
                <tr><td>Donna Snider</td><td>Customer Support</td><td>New York</td><td>$112,000<td>33</td><td>02 = Generell</td><td>1</td><td>100</td><td>100</td><td>07.12.2016</td><td>07.12.2016</td><td>374564813588</td><td>Pendente Aufträge</td></tr>
            </tbody>
        </table>
    </div>

    <div id="demo2" class="standard tableview">
        <table id="losnummer" class="display losnummer" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Losnummer</th>
                    <th>ArtikelNummer</th>
                    <th>Artikelbnezeichnung</th>
                    <th>Paletten</th>
                    <th>Bestand LgE</th>
                    <th>Bestand VkE</th>
                    <th>Status</th>
                    <th>Sperrart</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>Tiger Nixon</td><td>System Architect</td><td>Edinburgh</td><td>$320,800</td><td>33</td><td>02 = Generell</td><td>1</td><td>100</td></tr>
                <tr><td>Garrett Winters</td><td>Accountant</td><td>Tokyo</td><td>$170,750</td><td>1</td><td>02 = Generell</td><td>1</td><td>100</td></tr>
                <tr><td>Ashton Cox</td><td>Junior Technical Author</td><td>San Francisco</td><td>$86,000<td>33</td><td>02 = Generell</td><td>1</td><td>100</td></tr>
            </tbody>
        </table>
    </div>


    <div id="demo3" class="standard tableview">
        <table id="restcode" class="display restcode" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>RestCode</th>
                    <th>ArtikelNummer</th>
                    <th>Artikelbnezeichnung</th>
                    <th>Paletten</th>
                    <th>Bestand LgE</th>
                    <th>Bestand VkE</th>
                    <th>Status</th>
                    <th>Sperrart</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>Tiger Nixon</td><td>System Architect</td><td>Edinburgh</td><td>$320,800</td><td>33</td><td>02 = Generell</td><td>1</td><td>100</td></tr>
                <tr><td>Garrett Winters</td><td>Accountant</td><td>Tokyo</td><td>$170,750</td><td>1</td><td>02 = Generell</td><td>1</td><td>100</td></tr>
                <tr><td>Ashton Cox</td><td>Junior Technical Author</td><td>San Francisco</td><td>$86,000<td>33</td><td>02 = Generell</td><td>1</td><td>100</td></tr>
            </tbody>
        </table>
    </div>


    <!-- END OF TAB INDEX -> HOME DASHBOARD -->
</div>

<!-----------------------------------------------------------------------------      END OF INDEX       --------------------------------------------------------------------------------->

<div id="Paris" class="tabcontent">
    <h3>Paris</h3>
    <p>Paris is the capital of France.</p>
</div>

<div id="Tokyo" class="tabcontent">
    <h3>Tokyo</h3>
    <p>Tokyo is the capital of Japan.</p>
</div>


<script type="text/javascript">
	// For demo to fit into DataTables site builder...
    $('#artikel')
		.removeClass('display')
		.addClass('table table-striped table-bordered');
    $('#losnummer')
		.removeClass( 'display' )
		.addClass('table table-striped table-bordered');
	$('#restcode')
		.removeClass('display')
		.addClass('table table-striped table-bordered');
</script>

<!-- Prototype END -->
<div class="row" style="margin: 20px 15px;">
    <div class="col-sm-12">
        <h2>Index</h2>
        <table style="width: 800px;" class="table table-condensed table-striped table-hover fadeIn animated">
            <thead>
                <tr id="headstyle">
                    <th>PID ID</th>
                    <th>Mandant</th>
                    <th>Lager Nr</th>
                    <th>SperrCode Charge</th>
                    <th>Verfallsdatum</th>
                    <th>Prduktionsdatum</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var PIDBestand in Model.PIDBestand)
            {
                    <tr id="columnstyle">
                        <td>@PIDBestand.PID</td>
                        <td>@PIDBestand.MandantenNr</td>
                        <td>@PIDBestand.LagerNr_FK</td>
                        <td>@PIDBestand.SperrCodeCharge</td>
                        <td>@PIDBestand.VerfallsDatum</td>
                        <td>@PIDBestand.ProduktionsDatum</td>
                        <td><button class="btn btn-primary btn-edit-lager btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button> </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>